{% extends 'core/base.html' %}
{% block title %}Conocenos{% endblock%}
{% load static %}
{% block background %}{% static 'core/img/fondo.jpg' %}{% endblock %}
{% block content %}
<section class="contenido-conocenos">
    <article class="conocenos-quienes">
        <h2>¿Quiénes somos?</h2>
        <p>Le Dutra es nuestra pasión por la decoración y la moda, uniendo textiles, fibras y materiales naturales.</p>
        <p>La historia comenzó en el 2000 cuando Graciela, modista de alta costura, busco un cable a tierra y expresar lo que sentía en un momento difícil de la vida.</p>
        <p>Así que aprovechó ese impulso y empezó a diseñar velas junto a su esposo Claudio. Las cuales vendían en la escalera de su casa, donde armaron una especie de show room cuando recién empezaba a surgir este estilo de venta.</p>
        <p>Como buena emprendedora y creadora de ideas, empezaron a surgir nuevos productos que hicieron que de a poco y con mucho esfuerzo, lo que en un principio se llamó Grace Marino Deco se transformó en Le Dutra Home Deco.</p>
        <p>Los primeros años de producción, los paseos en familia se convirtieron en visita a proveedores, para elegir uno a uno los materiales.</p>
        <p>Los clientes que solían venir a nuestra casa por un vestido o traje, poco a poco pedían que Graciela fuera a sus casas y que les recomienden que podían hacer para decorar y renovar distintos espacios. Hubo una época que cocimos muchas cortinas, almohadones, acolchados, pies de cama, etc.</p>    
        <p>Siempre tuvo atracción por la decoración y muchísima pasión por los textiles. </p>
    </article>
    
    <article class="conocenos-hacemos">
        <h2>¿Qué hacemos?</h2>
        <p>“Diseñamos y elegimos detalladamente cada cosa para que puedas vestir tu casa de la manera más linda, simple y de excelente calidad y por supuesto, lo último en tendencia”</p>
        <p>“Un poco de nuestra inspiración para los objetos y productos que elegimos provienen de la naturaleza nórdica y el estilo de los clásicos escandinavos”.</p>
        <p>“Nos encantan los productos que se pueden utilizar y lucir en cualquier momento del año, tanto en la moda como en la decoración”.</p>
        <p>“La pasión por realizar nudos y entrelazar hilos para formar un producto macramé, es una de las cosas que pueden encontrar en nosotros”.</p>
        <p>“Usamos la técnica del tejido al crochet y el bordado mejicano para darle un estilo a nuestros productos como
        almohadones, mantas, caminos, pie de camas, mándalas, tapices, entre otros.</p>
        <p>Ademas, si tenes una idea nosotros le damos la forma para que te sientas cumplido.</p>
        <p>Le Dutra al servicio de sus clientes, conoce nuestros productos.</p>
    </article>
</section>
{% endblock%}