{% extends 'core/base.html' %}
{% load static %}
{% block title %}Productos{% endblock%}
{% block background %}{% static 'core/img/fondo.jpg' %}{% endblock %}
{% block content %}
<section class="espacio-libre-dos">
    <p>Todas nuestras opciones son realizadas a medida y gusto de nuestros clientes.</p>
</section>
<section class="contenedora-productos">
    <h3>Almohadones</h3>
    <p>De tusor. Características: con detalles en macramé y crochet , rellenos de vellon siliconado. Tamaño: personalizado.</p>  
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div>
    <h3>Baldes</h3>
    <p>De pintura reciclados. Características: detalles en decupage y yute. Tamaño: 4 litros, 10 litros y 20 litros.</p>
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div>

    <h3>Cajas organizadoras multiuso</h3>
    <p>De pino. Características: detalles en decupage y pintura. Tamaño: 13cm x 37cm y 24cm x 37cm.</p> 
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div>

    <h3>Crochet y macramé</h3>
    <p>Caminos, eco-bolsas, móviles y sujetadores de cortina</p> 
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div>
    
    <h3>Lámparas</h3>
    <p>Trabajadas con hilo de yute. Tamaño: personalizado.</p>
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div> 

    <h3>Difusores</h3>
    <p>Clásicos y con flor de tusor. Características: con varrillas de rattan, distintas fragancias. Tamaño: 60ml, 100ml y 250ml</p>
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div> 
    
    <h3>Mandala, puff y un poco más</h3>
    <p>Las mandalas son de hilos de algodón al crochet. <br> 
    Los puff realizados con neumaticos reciclados y tejidos con totora.</p> 
    <div class="navproductos">
        {% for product in products %}
            <div class="productos">   
                <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
            </div>
        {% endfor %}
    </div>
</section>    
{% endblock%}
