{% extends 'core/base.html' %}
{% load static %}
{% block title %}Productos{% endblock%}
{% block background %}{% static 'core/img/fondo.jpg' %}{% endblock %}
{% block content %}
<section class="espacio-libre-dos">
    <p>Todas nuestras opciones son realizadas a medida y gusto de nuestros clientes.</p>
</section>
<section class="contenedora-productos">
    {% for category in categories %}
        <h3>{{category.title}}</h3>
        <p>{{category.description}}</p>
        <div class="navproductos">
            {% for product in category.product_set.all %}
                <div class="productos">   
                    <img src="{{product.image.url}}" alt="{{product.title|capfirst}}" >
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>    
{% endblock%}
