{% extends 'core/base.html' %}
{% load static %}
{% block background %}{% static 'core/img/fondo.jpg' %}{% endblock %}
{% block title %}Restablecimiento de contraseña{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-5 mx-auto mb-5">
        <h3 class="mb-4">Restablecimiento de contraseña exitoso</h3>
        <p>Su contraseña fue restablecida correctamente.</p>
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
      </div>
    </div>
  </div>
</main>
{% endblock %}